@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* .notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
} */

* {margin: 0; padding: 0;}
li {list-style: none;}
a {
    text-decoration: none;
    display: block;
    color: #333;
}
html, body {
    font-size: 62.5%; /* 10px */
    color: #333;
    font-family: 'Noto Sans KR';
    font-weight: 400;
}
body {
    overflow-x: hidden;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* header */
header {
    width: 100%;
    border-bottom: solid 1px #eee;
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: 99999px; */
}
.header {
    max-width: 1280px;
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.header h1 {
    width: 130px;
    height: 50px;
    padding: 15px 0;
    position: absolute;
    left: 0;
}
.header h1 img {
    width: 100%;
    height: 100%;
}
.header nav > ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.header nav > ul > li {
    display: inline-block;
    width: 140px;
    font-size: 1.6rem;
    vertical-align: top;
}
.header nav .depth02 {
    width: 140px;
    line-height: 50px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    display: none;
}
.header nav .depth01:hover .depth02 {
    display: block;
}
.header nav select {
    border: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.header .button {
    border: 0;
    background-color: transparent;
    width: 50px;
    height: 50px;
    line-height: 80px;
    font-size: 50px;
    float: right;
    display: none;
}
.header .button span {
    position: absolute;
    left: -99999px;
}
.header .button i {
    color: #1793D0;
}

/* .main_visual */
.main_visual {
    width: 100%;
    height: 900px;
    overflow: hidden;
    margin-bottom: 80px;
}
.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .cont01 */
.cont01 {
    max-width: 1280px;
    width: 100%;
    margin: 80px auto;
}
.cont01 h3 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.cont01 .slide_btn {
    height: 25px;
    position: relative;
    margin-bottom: 30px;
}
.cont01 .slide_btn span{
    position: absolute;
    left: -999999px;
}
.cont01 .slide_btn .button {
    width: 25px;
    height: 25px;
    font-size: 25px;
    border: 0;
    background-color: transparent;
    margin-bottom: 30px;
}
.cont01 .slide_btn .button:nth-of-type(1) {
    position: absolute;
    left: 378px;
}
.cont01 .slide_btn .button:nth-of-type(2) {
    position: absolute;
    left: 413px;
}
.cont01 .cont01_img {
    width: 100%;
    position: relative;
}
.cont01 article img {
    display: block;
}
.cont01 .cont01_img > article img {
    width: 430px;
    height: 430px;
}
.cont01 .cont01_img > article div {
    position: absolute;
    left: 498px;
    bottom: 0;
}
.cont01 .cont01_img > article dl dt {
    font-size: 2.4rem;
    font-weight: bold;
}
.cont01 .cont01_img > article dl dd {
    font-size: 1.8rem;
    margin-top: 10px;
}
.cont01 .cont01_img > article p {
    font-size: 1.4rem;
    margin-top: 38px;
}
.cont01 .cont01_img .cont01_s_img {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: -100px;
    left: 495px;
}
.cont01 .cont01_img .cont01_s_img img {
    width: 360px;
    height: 360px;
    object-fit: cover;
    margin-right: 62px;
}

/* .cont02 */
.cont02 {
    max-width: 1280px;
    width: 100%;
    margin: 80px auto;
}
.cont02 h3 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 70px;
}
.cont02 .slide_btn {
    position: relative;
}
.cont02 .slide_btn span{
    position: absolute;
    left: -999999px;
}
.cont02 .slide_btn .button {
    width: 25px;
    height: 25px;
    font-size: 25px;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 346px;
}
.cont02 .slide_btn .button:nth-of-type(1) {
    left: -60px;
}
.cont02 .slide_btn .button:nth-of-type(2) {
    left: 1320px;
}
.cont02 article img {
    display: block;
}
.cont02 .cont02_img > article {
    position: relative;
}
.cont02 .cont02_img > article img {
    width: 100%;
    height: 717px;
    object-fit: cover;
}
.cont02 .cont02_img > article .button {
    width: 150px;
    height: 150px;
    font-size: 150px;
    opacity: 80%;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    z-index: 999px;
}
.cont02 .cont02_img > article .button i{
    color: #1793D0;
}
.cont02 .cont02_img > article .button span {
    position: absolute;
    left: -9999999px;
}
.cont02 .cont02_img > article p {
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 68px;
    text-align: right;
}
.cont02 .cont02_img .cont02_s_img {
    display: flex;
    justify-content: flex-start;
    margin-left: 189px;
}
.cont02 .cont02_img .cont02_s_img article a {
    width: 344px;
    height: 192px;
    position: relative;
    margin-right: 30px;
}
.cont02 .cont02_img .cont02_s_img article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont02 .cont02_img .cont02_s_img article div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .76);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.cont02 .cont02_img .cont02_s_img article p {
    width: 100%;
    font-size: 1.8rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-80%, -50%);
    z-index: 9999px;
}
.cont02 .cont02_img .cont02_s_img article:hover div {
    display: block;
}

/* .cont03 */
.cont03 {
    max-width: 1920px;
    width: 100%;
    margin: 80px auto;
    margin-bottom: 600px;
    position: relative;
}
.cont03 h3 {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 140px;
}
.cont03 .slide_btn {
    display: none;
    position: relative;
}
.cont03 .slide_btn span{
    position: absolute;
    left: -999999px;
}
.cont03 .slide_btn .button {
    width: 25px;
    height: 25px;
    font-size: 25px;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: -115px;
}
.cont03 .slide_btn .button:nth-of-type(1) {
    left: 226px;
}
.cont03 .slide_btn .button:nth-of-type(2) {
    left: 262px;
}
.cont03 .cont03_img {
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: flex-start;
    transform: translateX(-50%);
}
.cont03 .cont03_img article {
    position: relative;
}
.cont03 .cont03_img article img {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    display: block;
    margin: 0 33px;
}
.cont03 .cont03_img article:nth-of-type(3) img {
    width: 430px;
    height: 430px;
    transform: translateY(-8%);
}
.cont03 .cont03_img article:nth-of-type(3) img:nth-child(2) {
    width: 500px;
    height: 500px;
    object-fit: cover;
    position: absolute;
    top: -16%;
    left: -7%;
    animation: mpa 10s infinite linear;
}
@keyframes mpa{
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0);
    }
}

/* .cont04 */
.cont04 {
    max-width: 1280px;
    width: 100%;
    margin: 80px auto;
}
.cont04 h3 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 138px;
}
.cont04 .slide_btn {
    display: none;
    position: relative;
}
.cont04 .slide_btn span{
    position: absolute;
    left: -999999px;
}
.cont04 .slide_btn .button {
    width: 25px;
    height: 25px;
    font-size: 25px;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: -93px;
}
.cont04 .slide_btn .button:nth-of-type(1) {
    left: 302px;
}
.cont04 .slide_btn .button:nth-of-type(2) {
    left: 338px;
}
.cont04 .cont04_box {
    display: flex;
    align-items: flex-start;
}
.cont04 article {
    width: 360px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    margin-right: 100px;
}
.cont04 article:nth-child(2) {
    transform: translateY(18%);
}
.cont04 article:nth-child(3) {
    transform: translateY(14%);
}
.cont04 article img {
    width: 360px;
    height: 100%;
    object-fit: cover;
    display: block;
}
.cont04 article .cont04_txt dl {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.cont04 article .cont04_txt dl dt {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}
.cont04 article .cont04_txt dl dd {
    font-size: 1.6rem;
}

/* .cont05 */
.cont05 {
    width: 100%;
    margin-top: 145px;
    padding: 70px 0 50px;
    background-color: #F6F6F6;
}
.cont05 .cont05_wrap {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.cont05 h3 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 50px;
}
.cont05 .button span {
    position: absolute;
    left: -999999px;
}
.cont05 .button {
    width: 30px;
    height: 30px;
    font-size: 30px;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 5%;
    right: 0;
}
.cont05 .cont05_txt > div {
    width: 50%;
    height: 2.6rem;
}
.cont05 .cont05_txt .left a {
    border-right: 1px solid #888;
}
.cont05 .cont05_txt dl {
    font-size: 1.6rem;
    width: 95%;
    height: 26px;
    line-height: 26px;
}
.cont05 .cont05_txt dl dd {
    color: #888;
    text-align: right;
    transform: translateY(-100%);
}
.cont05 .cont05_txt .right {
    transform: translate(105%, -100%);
}

/* footer */
footer {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: #4A4A4A;
}
footer .f_wrap {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
footer .f_wrap .f_txt p {
    font-size: 1.4rem;
    color: #888;
    display: inline-block;
}
footer .f_wrap .f_txt p span {
    color: #66D2F1;
}
footer .f_wrap .f_txt p a {
    color: #66D2F1;
}
footer .f_wrap .f_txt p:first-child {
    margin-right: 40px;
}
footer .f_wrap .f_txt p:nth-child(2) {
    margin-right: 14px;
}
footer .f_wrap .sns {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
footer .f_wrap .sns_btn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    right: 105%;
    transform: translateY(-50%);
    opacity: 60%;
}
footer .f_wrap .sns_btn .button {
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
    margin-right: 10px;
}
footer .f_wrap .sns i span {
    position: absolute;
    left: -9999999px;
}
footer .f_wrap .sns_btn .button a {
    position: absolute;
    top: -62%;
    margin-left: 6px;
}
footer .f_wrap .sns_btn .button:first-child i {
    font-size: 2.5rem;
    margin-left: -2px;
}
footer .f_wrap .sns_btn .button:nth-child(2) i {
    font-size: 2.4rem;
    margin-left: -3px;
}
footer .f_wrap .sns_btn .button:nth-child(3) i {
    font-size: 2rem;
    margin-left: -1px;
}
footer .f_wrap .sns_btn .button:nth-child(4) img {
    width: 20px;
    height: 20px;
    opacity: 80%;
}
footer .f_wrap .sns nav {
    width: 132px;
    height: 32px;
    font-size: 1.4rem;
    text-align: center;
    background-color: #fff;
    opacity: 55%;
    line-height: 32px;
    transform: translateY(0);
}
footer .f_wrap .sns nav i {
    margin-left: 4px;
}
footer .f_wrap .sns nav .depth01 {
    background-color: #fff;
}
footer .f_wrap .sns nav .depth02 {
    background-color: #fff;
    display: none;
}
footer .f_wrap .sns nav:hover {
    transform: translateY(-200%);
}
footer .f_wrap .sns nav:hover .depth02 {
    display: block;
}

/* 뷰포트 1024px이하일때 (태블릿 시작지점) */
@media screen and (max-width: 1024px) {
    .header {
        width: calc(100% - 20px);
    }
    .header nav {
        display: none;
    }
    .header .button {
        display: block;
    }
    .main_visual {
        height: 718px;
    }
    .cont01 {
        width: calc(100% - 20px);
    }
    .cont01 h3 {
        font-size: 2.8rem;
    }
    .cont02 {
        width: calc(100% - 20px);
    }
    .cont02 h3 {
        font-size: 2.8rem;
        margin-bottom: 47px;
    }
    .cont02 .slide_btn .button {
        top: -78px;
    }
    .cont02 .slide_btn .button:nth-of-type(1) {
        left: 226px;
    }
    .cont02 .slide_btn .button:nth-of-type(2) {
        left: 262px;
    }
    .cont02 .cont02_img > article img {
        height: 513px;
    }
    .cont02 .cont02_img > article .button {
        width: 107px;
        height: 107px;
        font-size: 107px;
    }
    .cont02 .cont02_img > article p {
        font-size: 2rem;
    }
    .cont02 .cont02_img .cont02_s_img {
        margin-left: 0;
    }
    .cont02 .cont02_img .cont02_s_img article a {
        width: 246px;
        height: 137px;
    }
    .cont03 {
        width: calc(100% - 20px);
    }
    .cont03 h3 {
        font-size: 2.8rem;
        margin-bottom: 85px;
    }
    .cont03 .slide_btn {
        display: block;
    }
    .cont03 .cont03_img article img {
        width: 280px;
        height: 280px;
        margin: 0 25px;
    }
    .cont03 .cont03_img article:nth-of-type(3) img {
        width: 335px;
        height: 335px;
    }
    .cont03 .cont03_img article:nth-of-type(3) img:nth-child(2) {
        width: 400px;
        height: 400px;
        top: -17%;
        left: -8%;
    }
    .cont04 {
        width: calc(100% - 20px);
    }
    .cont04 h3 {
        font-size: 2.8rem;
        margin-bottom: 62px;
    }
    .cont04 .slide_btn {
        display: block;
    }
    .cont04 article {
        margin-right: 35px;
    }
    .cont05 .cont05_wrap {
        width: calc(100% - 20px);
    }
    .cont05 h3 {
        font-size: 2.8rem;
    }
    footer .f_wrap {
        width: calc(100% - 20px);
    }
    footer .f_wrap {
        height: 100%;
        padding: 15px 0;
        box-sizing: border-box;
        position: relative;
    }
    footer .f_wrap .f_txt p:first-child {
        margin-right: 14px;
    }
    footer .f_wrap .f_txt p {
        display: block;
        line-height: 30px;
    }
    footer .f_wrap .f_txt p:first-child {
        margin-right: 0px;
        position: absolute;
        bottom: 10%;
    }
    footer .f_wrap .f_txt p:nth-child(2) {
        position: absolute;
        bottom: 40%;
    }
    footer .f_wrap .f_txt p:nth-child(3) {
        position: absolute;
        left: 120px;
        bottom: 40%;
    }
    /* 영역이 1024기준이 아닌거 같음 */
}

/* 뷰포트 767px이하일때 (모바일) */
@media screen and (max-width: 767px) {
    .header {
        width: calc(100% - 15px);
        height: 60px;
        line-height: 60px;
    }
    .header h1 {
        width: 100px;
        padding: 10px 0;
    }
    .header .button {
        width: 40px;
        height: 40px;
        line-height: 60px;
        font-size: 40px;
    }
    .main_visual {
        height: 301px;
    }
    .cont01 {
        width: calc(100% - 15px);
    }
    .cont01 h3 {
        font-size: 2.5rem;
        margin-bottom: 33px;
    }
    .cont01 .slide_btn {
        width: calc(100% - 15px);
        margin-bottom: 8px;
    }
    .cont01 .slide_btn .button:nth-of-type(1) {
        left: 92%;
    }
    .cont01 .slide_btn .button:nth-of-type(2) {
        left: 100%;
    }
    .cont01 .cont01_img > article div {
        left: 0;
        top: -6%;
    }
    .cont01 .cont01_img > article img {
        width: 100%;
        height: 100%;
    }
    .cont01 .cont01_img > article div dl {
        position: absolute;
    }
    .cont01 .cont01_img > article dl dt {
        font-size: 1.8rem;
    }
    .cont01 .cont01_img > article dl dd {
        font-size: 1.4rem;
        transform: translate(40%, -170%);
        white-space: nowrap;
    }
    .cont01 .cont01_img > article p {
        margin-top: 101vw;
    }
    .cont01 .cont01_img .cont01_s_img {
        display: none; /* 잠시 숨겨놈 */
        top: 0;
        left: 0;
    }
    .cont01 .cont01_img .cont01_s_img img {
        width: 111%;
        height: 111%;
    }

    /* .cont02  */
    .cont02 {
        width: calc(100% - 15px);
    }
    .cont02 h3 {
        font-size: 2.5rem;
        margin-bottom: 47px;
    }
    .cont02 .slide_btn .button:nth-of-type(1) {
        left: 89%;
    }
    .cont02 .slide_btn .button:nth-of-type(2) {
        left: 97%;
        
    }
    .cont02 .cont02_img > article img {
        height: 100%;
    }
    .cont02 .cont02_img > article .button {
        width: 44vw;
        height: 44vw;
        font-size: 4.4rem;
        top: 40%;
        transform: translate(-50%, -40%);
    }
    .cont02 .cont02_img > article p {
        font-size: 1.8rem;
        margin-top: 18px;
        margin-bottom: 25px;
    }
    .cont02 .cont02_img .cont02_s_img article a {
        width: 185px;
        height: 103px;
        margin-right: 15px;
    }
    .cont02 .cont02_img .cont02_s_img article p {
        font-size: 1.6rem;
        transform: translate(-90%, -50%);
    }
    .cont02 .cont02_img .cont02_s_img article p span {
        display: none;
    }
    
    /* cont03 */
    .cont03 {
        width: calc(100% - 15px);
        margin-bottom: 400px;
    }
    .cont03 h3 {
        font-size: 2.5rem;
        margin-bottom: 75px;
    }
    .cont03 .slide_btn .button:nth-of-type(1) {
        left: 89%;
    }
    .cont03 .slide_btn .button:nth-of-type(2) {
        left: 97%;
    }
    .cont03 .cont03_img article img {
        width: 190px;
        height: 190px;
        margin: 0 11px;
    }
    .cont03 .cont03_img article:nth-of-type(3) img {
        width: 227px;
        height: 227px;
    }
    .cont03 .cont03_img article:nth-of-type(3) img:nth-child(2) {
        width: 259px;
        height: 259px;
        top: -15%;
        left: -6%;
    }

    /* .cont04 */
    .cont04 {
        width: calc(100% - 15px);
    }
    .cont04 h3 {
        font-size: 2.5rem;
        margin-bottom: 33px;
    }
    .cont04 .slide_btn .button {
        top: -60px;
    }
    .cont04 .slide_btn .button:nth-of-type(1) {
        left: 89%;
    }
    .cont04 .slide_btn .button:nth-of-type(2) {
        left: 97%;
    }
    .cont04 article {
        width: 384px;
        height: 483px;
        margin-right: 15px;
        position: relative;
    }
    .cont04 article:nth-child(2) {
        transform: translateY(0);
    }
    .cont04 article:nth-child(3) {
        transform: translateY(0);
    }
    .cont04 article img {
        width: 384px;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    .cont04 article .cont04_txt dl {
        position: absolute;
        bottom: -0.5%;
        background-color: rgba(255, 255, 255, .6);
    }

    /* .cont05 */
    .cont05 {
        margin-top: 92px;
        padding: 40px 0 50px;
    }
    .cont05 .cont05_wrap {
        width: calc(100% - 15px);
    }
    .cont05 h3 {
        font-size: 2.5rem;
        margin-bottom: 28px;
    }
    .cont05 .button {
        right: -10px;
    }
    .cont05 .cont05_txt > div {
        width: 100%;
    }
    .cont05 .cont05_txt .left a {
        border-right: 0;
    }
    .cont05 .cont05_txt dl dd {
        transform: translate(5%, -100%);
    }
    .cont05 .cont05_txt .right {
        transform: translate(0, 20%);
    }

    /* footer */
    footer {
        height: 130px;
    }
    footer .f_wrap {
        width: calc(100% - 15px);
    }
    footer .f_wrap .f_txt p:nth-child(2) {
        bottom: 30%;
    }
    footer .f_wrap .f_txt p:nth-child(3) {
        bottom: 30%;
    }
    footer .f_wrap .sns {
        width: 100%;
        top: 15%;
    }
    footer .f_wrap .sns_btn {
        width: 148px;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
    footer .f_wrap .sns nav {
        position: absolute;
        right: 0;
        transform: translate(0, 0);
    }
}